[target.aarch64-unknown-linux-gnu]
linker = "/usr/bin/aarch64-linux-gnu-gcc"
runner = "/usr/local/bin/runner"

[target.armv7-unknown-linux-gnueabihf]
linker = "/usr/bin/arm-linux-gnueabihf-gcc"
runner = "/usr/local/bin/runner"

[target.mips64-unknown-linux-gnuabi64]
linker = "/usr/bin/mips64-linux-gnuabi64-gcc"
runner = "/usr/local/bin/runner"
